<%- include ("../partials/_header") -%> <% if(currentUser){%>
<div class="row">
  <div class="col-lg-12 col-xs-12">
    <h1>Background Picture</h1>
    <div>
      <a type="button" href="">change</a>
    </div>
    <div class="row">
      <div class="col-lg-2 lg col-xs-3">
        <h2>profile picture</h2>
        <div>
          <a type="button" href="">change</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-lg-6 col-xs-12" style="float: right;">
    <h5>Some information</h5>
    <div>
      <a type="button" href="">change</a>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12" style="float: left;">
    <h5>Some information again</h5>
    <div>
      <a type="button" href="">change</a>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-lg-12">
    <h3>Personal Information</h3>
    <p><%= currentUser.personalInfo%></p>
    <div>
      <a id="edit" type="button" onclick="" href="/profile/update">Edit</a>
    </div>
  </div>
</div>
<%}%>
<script></script>
<%- include ("../partials/_footer") -%>
